section.aboutContainer {
  padding: 20px 0px;
  background: var(--secundary);
}

section.aboutContainer .dfc {
  display: flex;
  align-items: center;
}

section.aboutContainer .dfc > p {
  max-width: 610px;
}

section.aboutContainer .hideOnSmallAndDown {
  display: block;
}

@media (max-width: 600px) {
  section.aboutContainer .hideOnSmallAndDown {
    display: none !important;
  }
}

@media (max-width: 1100px) {
  section.aboutContainer {
    padding: 20px !important;
  }

  section.aboutContainer .col.s12.m5.hideOnSmallAndDown img {
    width: 100% !important;
  }
}
