section.contactContainer {
  padding: 20px 0px;
  background: var(--secundary);
}

section.contactContainer .textForm {
  max-width: 540px;
}

section.contactContainer .dflex {
  display: flex;
}

section.contactContainer .dflex .asc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.contactContainer .dflex,
section.contactContainer form {
  margin-top: 20px;
}

section.contactContainer form .formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 540px;
}

section.contactContainer form .formGroup.hidden,
input#doont_answer {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0 !important;
}

section.contactContainer form .formGroup label {
  font-size: 1rem;
  font-weight: bold;
}

section.contactContainer form .formGroup input,
section.contactContainer form .formGroup textarea {
  font-size: 1rem;
  color: var(--white);
  padding: 12px;
  background: transparent;
  border: 1px solid var(--blue);
}

section.contactContainer form .formGroup textarea {
  min-height: 174px;
  resize: none;
}

section.contactContainer form .formButtons {
  display: flex;
  justify-content: flex-end;
  max-width: 540px;
  gap: 20px;
}

section.contactContainer form .formButtons .btn {
  font-size: 1.15rem;
  width: 190px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

section.contactContainer form .formButtons .btn.green {
  background: var(--green);
  border: 1px solid var(--green);
}

.btn.red {
  background: var(--red);
  border: 1px solid var(--red);
}

.btn.sending {
  background: var(--primary);
  border: 1px solid var(--white);
  background: var(--white);
  cursor: not-allowed;
}

section.contactContainer .contactFormMessage {
  margin-top: 20px;
  background: var(--green);
  padding: 10px;
  font-weight: bold;
  color: #fff;
}

section.contactContainer .socials {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

section.contactContainer .social {
  display: flex;

  width: 220px;
  height: 51px;
  padding: 6px;

  background: var(--white);

  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 4px rgba(255, 255, 255, 0.4);
  border-radius: 50px 10px 10px 50px;
  gap: 6px;
  text-decoration: none;
}

section.contactContainer .social img {
  filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.25));
}

section.contactContainer .social p > span {
  display: block;
  font-size: 0.78rem;
}

section.contactContainer .social p > span.socialInfo {
  color: #000000;
  font-style: italic;
  font-weight: 200;
}

section.contactContainer .social p > span.socialUser {
  color: #333333;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 600px) {
  section.contactContainer .dflex {
    flex-wrap: wrap !important;
  }

  section.contactContainer .dflex .asc {
    margin-top: 20px !important;
  }
}

@media (max-width: 1100px) {
  section.contactContainer {
    padding: 20px !important;
  }
}
