@layer tokens {
    :where(:root, :host) {
  --colors-purple-50: #faf5ff;
  --colors-purple-100: #f3e8ff;
  --colors-purple-200: #e9d5ff;
  --colors-purple-300: #d8b4fe;
  --colors-purple-400: #c084fc;
  --colors-purple-500: #a855f7;
  --colors-purple-600: #9333ea;
  --colors-purple-700: #7e22ce;
  --colors-purple-800: #6b21a8;
  --colors-purple-900: #581c87;
  --colors-violet-50: #f5f3ff;
  --colors-violet-100: #ede9fe;
  --colors-violet-200: #ddd6fe;
  --colors-violet-300: #c4b5fd;
  --colors-violet-400: #a78bfa;
  --colors-violet-500: #8b5cf6;
  --colors-violet-600: #7c3aed;
  --colors-violet-700: #6d28d9;
  --colors-violet-800: #5b21b6;
  --colors-violet-900: #4c1d95;
  --colors-indigo-50: #eef2ff;
  --colors-indigo-100: #e0e7ff;
  --colors-indigo-200: #c7d2fe;
  --colors-indigo-300: #a5b4fc;
  --colors-indigo-400: #818cf8;
  --colors-indigo-500: #6366f1;
  --colors-indigo-600: #4f46e5;
  --colors-indigo-700: #4338ca;
  --colors-indigo-800: #3730a3;
  --colors-indigo-900: #312e81;
  --colors-teal-50: #f0fdfa;
  --colors-teal-100: #ccfbf1;
  --colors-teal-200: #99f6e4;
  --colors-teal-300: #5eead4;
  --colors-teal-400: #2dd4bf;
  --colors-teal-500: #14b8a6;
  --colors-teal-600: #0d9488;
  --colors-teal-700: #0f766e;
  --colors-teal-800: #115e59;
  --colors-teal-900: #134e4a;
  --colors-emerald-50: #ecfdf5;
  --colors-emerald-100: #d1fae5;
  --colors-emerald-200: #a7f3d0;
  --colors-emerald-300: #6ee7b7;
  --colors-emerald-400: #34d399;
  --colors-emerald-500: #10b981;
  --colors-emerald-600: #059669;
  --colors-emerald-700: #047857;
  --colors-emerald-800: #065f46;
  --colors-emerald-900: #064e3b;
  --colors-green-50: #f0fdf4;
  --colors-green-100: #dcfce7;
  --colors-green-200: #bbf7d0;
  --colors-green-300: #86efac;
  --colors-green-400: #4ade80;
  --colors-green-500: #22c55e;
  --colors-green-600: #16a34a;
  --colors-green-700: #15803d;
  --colors-green-800: #166534;
  --colors-green-900: #14532d;
  --colors-yellow-50: #fefce8;
  --colors-yellow-100: #fef9c3;
  --colors-yellow-200: #fef08a;
  --colors-yellow-300: #fde047;
  --colors-yellow-400: #facc15;
  --colors-yellow-500: #eab308;
  --colors-yellow-600: #ca8a04;
  --colors-yellow-700: #a16207;
  --colors-yellow-800: #854d0e;
  --colors-yellow-900: #713f12;
  --colors-red-50: #fef2f2;
  --colors-red-100: #fee2e2;
  --colors-red-200: #fecaca;
  --colors-red-300: #fca5a5;
  --colors-red-400: #f87171;
  --colors-red-500: #ef4444;
  --colors-red-600: #dc2626;
  --colors-red-700: #b91c1c;
  --colors-red-800: #991b1b;
  --colors-red-900: #7f1d1d;
  --colors-gray-50: #fafafa;
  --colors-gray-100: #f4f4f5;
  --colors-gray-200: #e4e4e7;
  --colors-gray-300: #d4d4d8;
  --colors-gray-400: #a1a1aa;
  --colors-gray-500: #71717a;
  --colors-gray-600: #52525b;
  --colors-gray-700: #3f3f46;
  --colors-gray-800: #27272a;
  --colors-gray-900: #18181b;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --colors-color-palette-50: var(--colors-color-palette-50);
  --colors-color-palette-100: var(--colors-color-palette-100);
  --colors-color-palette-200: var(--colors-color-palette-200);
  --colors-color-palette-300: var(--colors-color-palette-300);
  --colors-color-palette-400: var(--colors-color-palette-400);
  --colors-color-palette-500: var(--colors-color-palette-500);
  --colors-color-palette-600: var(--colors-color-palette-600);
  --colors-color-palette-700: var(--colors-color-palette-700);
  --colors-color-palette-800: var(--colors-color-palette-800);
  --colors-color-palette-900: var(--colors-color-palette-900)
}
  }
  